# ignore everything (in root)
/*

# except for these
!config/
config/worldedit/.archive-unpack

!mods/

!resourcepacks/
resourcepacks/*
!resourcepacks/UniqueDark_1.20.1_lc_patched/
!resourcepacks/Mizunos_16_Craft_JE_1.20.1-1.0_lc_patched/
# https://stackoverflow.com/a/29932318

!options.txt
!servers.dat
!.gitignore
!icon.png
