# ignore everything (in root)
/*

# except for these

!mods/

!resourcepacks/
resourcepacks/*
!resourcepacks/UniqueDark_1.20.1_lc_patched.zip
!resourcepacks/Mizunos_16_Craft_JE_1.20.1-1.0_lc_patched.zip
# https://stackoverflow.com/a/29932318

!.gitignore
!icon.png
